<% @articles.each do |article| %>
  <div>
    <div>
      <span class="article-title">
        <strong><%= article.title %></strong>
      </span>

      <span class="article-url">
        <% unless article.url == "" %>
          <%= link_to '(' + article.url + ')', article.url %>
        <% else %>
          <a href="#">(text only)</a>
        <% end %>
      </span>
    </div>

    <div class="article-date">Posted at <%= article.created_at %></div>
    
    <div class="article-content">
      <%= article.content %>
    </div>

  </div>
<% end %>
