<div class="article-info">
  <%= content_tag :span, class: "article-title#{class_substring}" do  -%>
    <strong><%= link_to article.title, url_for_article(article) %></strong>
  <% end -%>

  <%= content_tag :span, class: "article-url#{class_substring}" do -%>
    <% if article.url? %>
      <%= link_to "(#{article.url_host})", "http://#{article.url_host}" %>
    <% else %>
      (text only)
    <% end %>
  <% end -%>
</div>
