<% if object.errors.any? %>
  <div class="alert alert-danger">
    <strong>The following errors prevented this <%= object.class %> from being saved:</strong>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
