@import "bootstrap";

a:link {
  color: #ff5f19;
}

a:visited {
  color: #FF9465;
}

.article-div {
  margin-bottom: 0.6em;
}

.article-title {
  font-size: 18px;
}

.article-title-show {
  font-size: 24px;
}

.article-url, .article-url-show {
  color: #ff5f19;
  font-size: 12px;
  margin-left: 0.4em;
  word-wrap: break-word;
}

.article-url-show {
  font-size: 16px;
}

.btn {
  background-color: #009aba;
  color: white;
  margin-top: 0.6em;
}

.comment {
  border-color: #ff5f19;
  border-style: solid;
  border-width: 0.1em;
  margin: 0.25em;
  margin-top: 1em;
  padding-left: 2em;
  word-wrap: break-word;
}

.comments {
  margin-top: 1em;
}

.even-comment {
  background-color: #FFE1D4;
}

.footer {
  border-color: #009aba !important;
  border-top: 0.5em solid;
  margin: 1em 0em;
  padding-top: 0.75em;
  text-align: center;
  top: 3em;  
}

.page-nav {
  margin-top: 0.4em;
  word-spacing: 0.4em;
}

.navbar, .navbar-brand, .navbar-default {
  background-color: #009aba;
}

.navbar-brand, ul > li > a {
  color: white !important;
}

.odd-comment {
  background-color: white;
}

.posted-by {
  font-size: 12px;
}



.reply-form {
  display: none
}

.simple_form {
  margin-top: 1em;
}
