.article-info, .comment-body, .posted-by {
  left: 1em;
  position: relative;
  width: calc(100% - 1.6em);
}

.down {
  border-top: 0.6em solid black;
}

.down.clicked {
  border-top: 0.6em solid #009aba;
}

.score {
  font-size: 14px;
  text-align: center;
}

.up {
  border-bottom: 0.6em solid black;
}

.up.clicked {
  border-bottom: 0.6em solid #ff5f19;
}

.vote {
  border-left: 0.6em solid transparent;
  border-right: 0.6em solid transparent;
  height: 0;
  width: 0;
}

.votes {
  float: left;
}
