<div id="<%= votable_id_attr(object) %>">
  <%= votable_score(object) %>
</div>

<% if signed_in? %>
  <%= link_to 'Upvote', "#{vote_url(object)}upvote", remote: true, method: :post, data: { type: :json } %>
  <%= link_to 'Downvote', "#{vote_url(object)}downvote", remote: true, method: :post, data: { type: :json } %>
<% end %>
